{:paths ["src" "test"]
 :deps  {org.clojure/clojure           {:mvn/version "1.10.2-alpha1"}
         com.vladsch.flexmark/flexmark {:mvn/version "0.60.2"}}

 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}}}}
